.circle {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 200px;
	border-radius: 100%;
	background: magenta;
  }
  
  .badge {
	width: 70%;
	height: 70%;
	transform: rotate(20deg);
	overflow: hidden;
  }
  