.circle {
	display: flex;
	justify-content: center;
	align-items: center;
	width: var(--badge-size);
	height: var(--badge-size);
	border-radius: 100%;
	background: var(--badge-color);
  }
  
  .badge {
	width: 70%;
	height: 70%;
	transform: rotateZ(var(--badge-rotation));
	overflow: hidden;
  }
  