.circle {
	display: flex;
	justify-content: center;
	align-items: center;
	width: var(--badge-size);
	height: var(--badge-size);
	border-radius: 100%;
	background: var(--badge-color);
	border-style: solid;
  }
  
  .badge {
	width: var(--badge-text-width);
	height: var(--badge-text-height);
	transform: rotateZ(var(--badge-rotation));
	overflow: hidden;
  }
  